<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <h1>About page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus iure doloremque temporibus voluptate voluptatibus doloribus voluptates ipsum velit atque, officia, ducimus deleniti illo fuga totam alias, saepe rem! Amet, placeat eius. Ab porro reprehenderit architecto voluptas. Quibusdam ex praesentium velit laboriosam animi provident, dolor quam eligendi quasi aliquam voluptatibus beatae ipsum tenetur dolorum molestias, quas expedita numquam ratione nemo maiores veniam, iusto ad. Dolor maxime architecto itaque repellat odio! Quasi fuga aut iusto nihil impedit esse, molestias tempore blanditiis cum quo eum, expedita harum rem beatae fugiat molestiae excepturi praesentium! Mollitia excepturi, praesentium eius ipsum dignissimos asperiores eos unde earum.</p>

    {% endblock content %}
</body>
</html>