<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javlon-dev</title>
</head>

<body>
    <header>
        <div>
            <img src="https://picsum.photos/200/300?random=1", width="200", height="300">
            <img src="https://picsum.photos/200/300?random=2", width="200", height="300">
        </div>
        <div>
            <a href="{% url 'home' %}">home</a>
            <a href="{% url 'books' %}">books</a>
            <a href="{% url 'menu' %}">menu</a>
            <a href="{% url 'about' %}">about</a>
        </div>

    </header>

    {% block content %}
    {% endblock content %}
</body>

</html>